
<div class="login-box">
    <h2><img src="../../../assets/img/INTRASOFT.png" width="300px" height="100px" /></h2>
    <!-- <h2><img src="../../../assets/images/Intrasoft-14-removebg-preview.png" width="250px" height="150px"/></h2> -->
    <form>
      <div class="user-box">
        <input  type="text" name="" >
        <label>Username</label>
        <!-- <mat-error *ngIf="UserName.hasError('required')">   
            User Name is required
           </mat-error> -->
      </div>
      <div class="user-box">
        <input type="password" name="" >
        <label>Password</label>
        <!-- <mat-error style="text-align: center;" *ngIf="PassWord.hasError('minlength') && !PassWord.hasError('required')">
                    
            Please enter a strong password
             
            </mat-error> -->
      </div>
      <a (click)="submit()">
        <span ></span>
        <span></span>
        <span></span>
        <span></span>
         Login
      </a>
    </form>
     
    <!-- <p class="sign"  class="mb-0 me-2"><a href="/auth/register">Don't have an account?Create new</a></p>       -->
          
  </div>
