<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Products Table</h4>
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Code
                                  </th>
                                  <th>
                                      Brach
                                  </th>
                                  <th>
                                      Price
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                        Michelin
                                      </td>
                                      <td>
                                          M23456337
                                      </td>
                                      <td>
                                          Riyadh
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                        Bridgestone
                                      </td>
                                      <td>
                                          B90076532
                                      </td>
                                      <td>
                                          Jedda
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                        Continental
                                      </td>
                                      <td>
                                          C23001123
                                      </td>
                                      <td>
                                          Macca
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                        Pirelli
                                      </td>
                                      <td>
                                          P77689003
                                      </td>
                                      <td>
                                          Macca
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                        Yokohama
                                      </td>
                                      <td>
                                          Y55400321
                                      </td>
                                      <td>
                                          Riyadh
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                        Hankook
                                      </td>
                                      <td>
                                          H45675500
                                      </td>
                                      <td>
                                          Riyadh
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
